

{% extends 'salary/SubPage.html' %}




    <title>Salary - Rotem Librati</title>





        {% block title %}
                        <h3>My Salary</h3>
        {% endblock %}

            {% block data %}

                        {% if user.is_authenticated %}
                                <h1>Hi {{ up1 }} and welcome </h1>
                                <h2>Your payment for hour is: {{ up1.payment }} </h2>
                            <a href="{% url 'salary:logout' %}" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Logout</a>
                            <a href="{% url 'salary:choose-month' %}" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">My Shifts</a>
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <a href="{% url 'salary:new-user' %}" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Registration</a>
                            <a href="{% url 'salary:login' %}" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Login</a>
                        {% endif %}
  {% endblock %}






